In [2]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputOutput'    # 고정값
name = '팜티궤느'    # 본인 이름을 작성
studentid = '201902731'    # 본인 학번을 작성
course = 'DEBA Study'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1기'    #  학수번호 끝자리 (아래 예시)
                         # E정보시스템 (0003853001) => 1반
                         # E정보시스템 (0003853001) => 2반
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
8(GB)
Windows
10.0.19044
C:\Users\phamt\DEBAStudy\Tutorial-Python-Programming-main
2022-11-18 05:04:20.360651
2023-01-05 13:51:22.030187
2023-01-05 13:51:22.030187
2023-01-05 13:52:38.958190
다음 출력을 파일명으로 설정하고 제출하시오: 팜티궤느_201902731_DEBA Study_1기_InputOutput

# **프로그래밍 사고**

[![Open in Colab](http://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/thekimk/Tutorial-Python-Programming/blob/main/Practice1-2_Basic_InputOutput_KK(Practice).ipynb)

- **필요성:** 사람마다 사용 언어와 생각 방식이 다르듯 프로그래밍 언어의 처리방식도 사람과 **`유사한 부분`** 과 **`다른 부분`** 이 존재하며 이를 이해하는 것이 필수

## 유사한부분: Y = f(X) + e

- **"세상의 모든 로직은 입력(X), 처리(f), 출력(Y), 그리고 검증(e) 프로세스로 최적화되어 표현된다"**

<center><img src='Image/Basic/Programming_IndependentStructure.png' width='600'></center>

---

<span style="color:blue">**"비즈니스 작동요소 = 조직 작동방식 = 사람 교류방식 = 컴퓨터 교류방식 =**</span><span style="color:red">**데이터과학 작동방식"**</span>

**1) 사람 교류방식 vs 컴퓨터 교류방식:**
> <center><img src='Image/Basic/Programming_ManVsComputer.png' width='800'></center>

**2) 실제 교류방식:** 반복적으로 피드백을 업데이트 하며 `관계를 업데이트`
> <center><img src='Image/Basic/Programming_RealCommunication.png' width='600'></center>

**3) 데이터과학 작동방식: 입력(x)/처리(f)/출력(y)/검증(e)**
- **이상적:**
> <center><img src='Image/Basic/Programming_BusinessProcess2.png' width='900'></center>

- **현실적:** 끊없는(?) 학습과 예측의 `무한반복` 기반, 끝인 줄 알았는데 반쪽짜리
> <center><img src='Image/Basic/DataSplit_Concept1.png' width='900'></center>
> <center><img src='Image/Basic/DataSplit_Concept2.png' width='900'></center>
> <center><img src='Image/Basic/Analysis_Process.png' width='900'></center>

## 다른부분: 같다 vs 할당한다

- **사람의 사고:** "나"와 "KK"는 같다
- **프로그래밍 사고:** "나"는 "KK"라고 할당한다(반영한다)

```python
I = "KK"
print(I)
KK
```

- **사람의 사고:** "나"와 "KK"는 같고, "너"는 "Korea"와 같고, "나"는 "너"와 같다. Why Korea?
- **프로그래밍 사고:** "나"는 "KK"로 할당하고, "너"는 "Korea"로 할당하고, "나"는 "너"로 할당했다.

```python
I = "KK"
You = "Korea"
I = You
print(I)
Korea
```

In [3]:
# Test
I = 'KK'
print(I)

KK

In [4]:
# Test
I = "KK"
You = "Korea"
I = You
print(I)

Korea

In [5]:
print(I, You)

Korea Korea

# **파이썬이 이해하는 데이터 형태**

- **목적:** 데이터분석과 프로그래밍 과정에서 파이썬이 이해할 수 있는 데이터의 형태로 입력하고 출력됨
> - Y = f(X)에서 입력(X)과 그리고 출력(Y)의 형태를 이해한다

<center><img src='Image/Basic/Basic_DataType.PNG' width='1000'></center>

- **데이터 값 핸들링:** 인덱스, 인덱싱, 슬라이싱
> - **인덱스(Index):** 데이터 값의 순서를 의미하고 Python에선 1이 아닌 0부터 순서 시작(영어권 문화)
> <center><img src='Image/Basic/Basic_Index.png' width='400'></center>
>
> - **인덱싱(Indexing):** 인덱스를 사용하여 데이터의 값을 불러오는 것
>> 데이터형[인덱스]
> ```python
'Ready'[3]    # d
[1,2,3][2]    # 3
A = 'My Name'
A[3]    # N
>```
>
> - **슬라이싱(Slicing):** 특정 인덱스가 아니라 일정 인덱스 범위의 값을 불러오는 것
> <center><img src='Image/Basic/Basic_Slicing.png' width='400'></center>
>
> ```python
A = [2,4,6,8,10,12,14]
A[2:5]
>```

## 숫자형(Numbers): 숫자의 특성을 갖는 것

In [6]:
# 10이라는 입력을 A라는 변수에 그대로 출력
# print 함수는 값을 출력하는 기능
A = 10
print(A)    # shift + tab

10

In [7]:
# 기본적으로 마지막줄은 자동 출력기능이라서 print를 사용하지 않아도 됨
A = 10
A

10

In [8]:
# 마지막줄 이외의 줄은 print, display 함수를 쓰지 않으면 자동 출력되지 않음
A = 10
A
A

10

In [9]:
A = 10
print(A)
A

10

10

In [10]:
# A+10 입력받아 type함수로 형태를 처리하고 output에 출력
# 자료형을 확인할 때는 type 함수를 이용함
output = type(A+10)
output

int

In [11]:
A = A + 100
print(A)

110

In [12]:
print(A + 1000)

1110

In [13]:
# print 함수는 임의의 문자화 함께 출력 가능
print('Final A is ', A)

Final A is  110

In [14]:
B = 3.14
type(B)

float

In [15]:
type(A), type(B)

(int, float)

In [16]:
# 계산기처럼 쉽게 연산도 가능
A + B

113.14

In [17]:
# int와 float가 더해지면 가장 영역이 넓은 float 형태로 저장
type(A + B)

float

## 불리언(Boolean): 참과 거짓으로 표현하는 것

In [18]:
# 0이 아닌 숫자는 True
bool(A)

True

In [19]:
# 비어있는 문자는 False
bool('')

False

In [20]:
bool(' ')

True

In [21]:
bool('python')

True

In [22]:
bool(0)

False

In [23]:
bool(1)

True

In [24]:
bool(100)

True

In [25]:
bool(False)

False

In [26]:
bool(True)

True

In [27]:
# 파이썬은 사람의 언어중 영어의 어순을 그대로 사용하는 특징
# I가 You인지 의문문을 쓰면 True/False 반환
I = 'KK'
You = 'Korea'
I is You

False

In [28]:
I = You
I is You

True

## 문자열(Strings): 따옴표 안에 입력된 것

- 큰 따옴표(" ")나 작은 따옴표 (' ')로 감싸진 부분을 파이썬은 문자열로 인식
```python
'hello!'
'3.14'
"3.14"
```

- 따옴표로 감싸진 문자열 내에서 **`따옴표`** 자체를 문자열로 반영할때는 다른 종류의 따옴표 사용
```python
'오늘 수업은 "여기까지" 하겠습니다!'    # 가능
"오늘 수업은 '여기까지' 하겠습니다!"    # 가능
"오늘 수업은 "여기까지" 하겠습니다!"    # 불가능
'오늘 수업은 '여기까지' 하겠습니다!'    # 불가능
```

- 여러줄의 문자열을 반영할때는 **`따옴표 3개`** 로 감싸서 사용
```python
'오늘 수업은 
"여기까지" 하겠습니다!'    # 불가능
'''오늘 수업은
"여기까지" 하겠습니다!'''    # 가능
"""오늘 수업은
'여기까지' 하겠습니다!"""    # 가능
```

In [29]:
I = 'KK'
type(I)

str

In [30]:
Intro = 'My name is KK'
Intro

'My name is KK'

In [31]:
type(Intro)

str

In [32]:
# 다른 프로그래밍 언어와 달리 숫자가 아닌 문자로 숫자 연산 적용 가능
Intro*2

'My name is KKMy name is KK'

In [33]:
Intro = 'My name is KK & 1.0'
type(Intro)

str

In [34]:
# 문자열의 길이 또는 갯수
len(Intro)

19

In [35]:
# 문자열의 원소를 선택할 때는 대괄호안에 순서를 나타내는 인덱스를 입력
# 파이썬의 순서는 "0"부터 시작함
Intro[0]

'M'

In [36]:
Intro[1]

'y'

In [37]:
Intro[18]

'0'

In [38]:
# 길이를 벗어난 인덱스를 입력하면 오류
# Intro[19]

In [39]:
# 뒤에서부터 값을 추출가능
# 뒤에서의 추출순서는 "-1"부터 시작함
Intro[-1]

'0'

In [40]:
Intro[-2]

'.'

In [41]:
# 여러개의 문자열을 선택할 때는 범위로 입력하되 [시작인텍스 이상:끝인덱스 미만] 형식
# 끝인덱스는 포함되지 않음
Intro[0:4]

'My n'

In [42]:
Intro[-5:-1]

'& 1.'

In [43]:
# 시작인텍스와 끝인텍스를 생략하면 자동으로 시작이나 끝까지 임을 인식함

In [44]:
Intro[:4]

'My n'

In [45]:
Intro[-5:]

'& 1.0'

In [46]:
# 더하기로 쉽게 문자열을 붙일 수 있음
# 다른 프로그래밍 언어에선 숫자가 아닌 문자에 더하기 연산 불가
Intro + ' Haha'

'My name is KK & 1.0 Haha'

In [47]:
# 숫자를 문자로 바꾸기 위해서 str 함수를 사용
# %가 위치한 곳에 값을 입력받아 출력
'%s is your age' % str(A)

'110 is your age'

In [48]:
str(A) + ' is your age'

'110 is your age'

In [49]:
# % 호로 여러개의 문자열 입력받아 출력 가능
number = 10
day = 'three'
'I ate %d apples. So I was sick for %s days.' % (number, day)

'I ate 10 apples. So I was sick for three days.'

In [50]:
'I ate {0} apples. So I was sick for {1} days.'.format(10, 'three')

'I ate 10 apples. So I was sick for three days.'

In [51]:
number = 10
day = 'three'
'I ate {number} apples. So I was sick for {day} days.'

'I ate {number} apples. So I was sick for {day} days.'

In [52]:
number = 10
day = 'three'
f'I ate {number} apples. So I was sick for {day} days.'

'I ate 10 apples. So I was sick for three days.'

In [53]:
# join 함수로 반복적으로 값을 사이에 붙일 수 있음
# 접착문자열.join(리스트)
# 리스트 값들은 모두 문자열에서만 가능
','.join(Intro)

'M,y, ,n,a,m,e, ,i,s, ,K,K, ,&, ,1,.,0'

In [54]:
' '.join(Intro)

'M y   n a m e   i s   K K   &   1 . 0'

In [55]:
# reversed 함수로 쉽게 값을 뒤집을 수 있음
''.join(reversed(Intro))

'0.1 & KK si eman yM'

In [56]:
# Intro[시작:끝:간격]
Intro[::]

'My name is KK & 1.0'

In [57]:
Intro[::1]

'My name is KK & 1.0'

In [58]:
Intro[::2]

'M aei K&10'

In [59]:
# 간격도 음수를 사용해 뒤에서 앞으로 추출 가능
Intro[::-1]

'0.1 & KK si eman yM'

In [60]:
# 문자열.split(기준) 함수로 문자열 나누기
# '기준'은 쪼개고 나서 사라짐
# '기준'이 없으면 자동으로 '공백'을 기준으로 사용
# 문자열이 쪼개진 후 결과는 리스트 형태로 반환
Intro.split(' ')

['My', 'name', 'is', 'KK', '&', '1.0']

In [61]:
Intro.split(' ')[0]

'My'

In [62]:
# count 함수로 문자 개수 세기
Intro.count('K')

2

In [63]:
# find 함수로 위치 알 수 있음
# Intro.find(1)
Intro.find('1')

16

In [64]:
Intro.find('2')

-1

In [65]:
# Upper / Lower 함수로 대소문자 변경 가능
Intro.upper()

'MY NAME IS KK & 1.0'

In [66]:
Intro.lower()

'my name is kk & 1.0'

In [67]:
# replace 함수로 문자열 바꾸기
Intro.replace('My', 'Your')

'Your name is KK & 1.0'

- **Question:** 아래 결과가 출력되도록 코딩하시오('매우'는 13번 등장함)

```python
파이썬은 매우매우매우매우매우매우매우매우매우매우매우매우매우 쉽다.
```

In [68]:
A = '파이쎤은'
B = '매우'
C = '쉽다'
A + ' ' + B*13 + ' ' + C

'파이쎤은 매우매우매우매우매우매우매우매우매우매우매우매우매우 쉽다'

In [69]:
print('파이쎤은', '매우'*13, '쉽다')

파이쎤은 매우매우매우매우매우매우매우매우매우매우매우매우매우 쉽다

- **Question:** 아래 문장에서 슬라이싱을 통해 Trial and error와 ladder 단어를 추출하여 출력하시오

```markdown
'Trial and error' is a ladder that reaching for the truth.
```

In [70]:
Exam = 'Trial and error is a ladder that reaching for the truth.'
Exam.split(' ')[5]

'ladder'

## 리스트(Lists): 여러개의 값을 하나로 모아서 다룰 때 사용

In [71]:
# 대괄호로 묶인 데이터를 리스트로 인식
Collection = [1,2,3,4,5]
Collection

[1, 2, 3, 4, 5]

In [72]:
type(Collection)

list

In [73]:
List1 = [10]
print(List1)
type(List1)

[10]

list

In [74]:
# 빈 리스트 생성
List2 = []
print(List2)
type(List2)

[]

list

In [75]:
# 리스트끼리 묶어서 차원을 늘릴 수도 있음
Final = [List1, List2, Collection]
Final

[[10], [], [1, 2, 3, 4, 5]]

In [76]:
type(Final)

list

In [77]:
Final[0]    # 0번쨰 row

[10]

In [78]:
Final[1]    # 1번쨰 row

[]

In [79]:
Final[2]    # 2번쨰 row

[1, 2, 3, 4, 5]

In [80]:
Final[2][1]    # 2번째 row에서 1번째 값

2

In [81]:
Final[2][-1]    # 2번째 row에서 마지막 값

5

In [82]:
Final[:1]    # [시작위치 이상: 끝위치 미만]

[[10]]

In [83]:
Final[:3]

[[10], [], [1, 2, 3, 4, 5]]

In [84]:
Final[:5]

[[10], [], [1, 2, 3, 4, 5]]

In [85]:
Final[2][:3]

[1, 2, 3]

In [86]:
Final[2]

[1, 2, 3, 4, 5]

In [87]:
# append 함수로 값을 추가 가능
Final[2].append(100)
Final[2]

[1, 2, 3, 4, 5, 100]

In [88]:
Final

[[10], [], [1, 2, 3, 4, 5, 100]]

In [89]:
# 더하기와 반복으로 쉽게 확장가능
Final[2] + Final[2]

[1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100]

In [90]:
# 곱하기로 쉽게 확장가능
Final[2] * 3

[1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100, 1, 2, 3, 4, 5, 100]

In [91]:
# 길이를 구할때는 len 함수사용
len(Final)

3

In [92]:
len(Final[2])

6

In [93]:
# 숫자를 문자와 붙이려면 형태를 문자로 맞춰야 함
# Final[2][0] + ' First'
str(Final[2][0]) + ' First'

'1 First'

In [94]:
Final[2]

[1, 2, 3, 4, 5, 100]

In [95]:
# 값의 수정은 대입으로 가능
Final[2][0] = 100
Final

[[10], [], [100, 2, 3, 4, 5, 100]]

In [96]:
# 값의 삭제는 del 함수 사용
del Final[2][-1]
Final

[[10], [], [100, 2, 3, 4, 5]]

In [97]:
# 값의 추가
Final.append(111)

In [98]:
Final

[[10], [], [100, 2, 3, 4, 5], 111]

In [99]:
# 정렬하기
# 같은 유형의 값으로만 들어있어야 비교가 가능하고 정렬이 됨
Final[2].sort()
Final

[[10], [], [2, 3, 4, 5, 100], 111]

In [100]:
# 역순정렬
Final[2].reverse()
Final

[[10], [], [100, 5, 4, 3, 2], 111]

In [101]:
# 위치 반환
Final.index(111)

3

In [102]:
Final.index([10])

0

In [103]:
Final[2]

[100, 5, 4, 3, 2]

In [104]:
# a번째 위치에 b를 추가하는건 insert(a,b) 사용
Final[2].insert(1,6)
Final

[[10], [], [100, 6, 5, 4, 3, 2], 111]

In [105]:
Final[2].insert(1,6)
Final

[[10], [], [100, 6, 6, 5, 4, 3, 2], 111]

In [106]:
Final[2].insert(5,6)
Final

[[10], [], [100, 6, 6, 5, 4, 6, 3, 2], 111]

In [107]:
# 값의 삭제
# 여러개일 경우 맨 처음 나오는 한개만 삭제
Final[2].remove(6)
Final

[[10], [], [100, 6, 5, 4, 6, 3, 2], 111]

In [108]:
# 특정 값의 개수 세기
Final[2].count(6)

2

In [109]:
# append는 값의 추가이며 extend는 리스트 확장
Final[2].extend([1,2,3])
Final

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3], 111]

In [110]:
Final[2].append([1,2,3])
Final

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3, [1, 2, 3]], 111]

In [111]:
Final[2].append(1)
Final

[[10], [], [100, 6, 5, 4, 6, 3, 2, 1, 2, 3, [1, 2, 3], 1], 111]

In [112]:
# Final[2].append(1,2)

## 튜플(Tuples): 리스트와 유사하나 순서와 값의 변경 불가

- 리스트는 값의 생성/삭제/수정이 가능하지만 저장된 값이 쉽게 바뀔수 있는 단점
- 리스트는 **`[ ]`**, 튜플은 **`( )`** 기호를 사용하여 형태를 구분
- 튜플은 값의 생성/삭제/수정이 불가하지만 그외 기능은 리스트와 동일
- 인덱스/인덱싱/슬라이싱/연산 등은 모두 가능

```python
()    # 빈 튜플
('a',)    # 값이 1개인 튜플이며 콤마는 필수!
('a', 'b', 'c')    # 값이 3개인 튜플
'a', 'b', 'c'    # 위와 동일하게 인식
```

In [113]:
KK = [1,2]
type(KK)

list

In [114]:
KK = (1,2)
type(KK)

tuple

In [115]:
# 문자 숫자 결합된 튜플 가능
KK = ('a', 'b', 100)
type(KK)

tuple

In [116]:
KK

('a', 'b', 100)

In [117]:
# 반 튜플 생성
KK_test = ()
type(KK_test)

tuple

In [118]:
KK_test

()

In [119]:
# 리스트와 마찬가지로 값의 추출 및 연산으로 확장 가능

In [120]:
KK[:2]

('a', 'b')

In [121]:
KK[1:]

('b', 100)

In [122]:
KK[1:]*3

('b', 100, 'b', 100, 'b', 100)

## 집합(Sets): 중복없는 값을 선택하거나 값을 비교할 때 사용

In [123]:
# 중복되지 않은 값들을 추출
left = set([1,2,3,5,4,3,2,1])
left

{1, 2, 3, 4, 5}

In [124]:
type(left)

set

In [125]:
right = set([4,5,6,7,6,5,4])
right

{4, 5, 6, 7}

In [126]:
print(left, right)

{1, 2, 3, 4, 5} {4, 5, 6, 7}

In [127]:
# 교집합, 합집합, 차집합 계산 가능
left & right

{4, 5}

In [128]:
left.intersection(right)

{4, 5}

In [129]:
left | right

{1, 2, 3, 4, 5, 6, 7}

In [130]:
left.union(right)

{1, 2, 3, 4, 5, 6, 7}

In [131]:
left - right

{1, 2, 3}

In [132]:
right - left

{6, 7}

In [133]:
left.difference(right)

{1, 2, 3}

In [134]:
right.difference(left)

{6, 7}

In [135]:
left

{1, 2, 3, 4, 5}

In [136]:
# add 함수로 신규 값 추가 가능
left.add(6)
left

{1, 2, 3, 4, 5, 6}

In [137]:
left.add(6)
left

{1, 2, 3, 4, 5, 6}

In [138]:
# remove 함수로 기존 값 삭제 가능
left.remove(1)
left

{2, 3, 4, 5, 6}

In [139]:
# update 함수로 신규 값 추가 가능
left.update([1,7])
left

{1, 2, 3, 4, 5, 6, 7}

In [140]:
# 값의 순서가 없는 자료형태이기 때문에 인덱싱으로 값에 접근하려면 리스트나 튜플로 변환해야 함
# left[0]

In [141]:
list(left)[2:]

[4, 5, 6, 1, 7]

In [142]:
tuple(left)[2:]

(4, 5, 6, 1, 7)

## 딕셔너리(Dictionaries): 짝으로 이루어진 값을 표현할 때 사용

- 중괄호기호 **`{ }`** 로 값을 묶어서 형태를 구분
- 값은 따옴표 **`Key:Value`** 를 기준으로 키(Key)와 자료(Value)를 묶어서 생성
- **Key:** 왼쪽에 있는 키는 데이터의 **`열쇠`** 와 같은 기능
> - Key는 변할수 없도록 지정하고 있어서, 변하지 않는 자료형만 사용이 가능
> - 리스트는 사용 불가하지만 튜플을 사용 가능
- **Value:** 오른쪽에 있는 값은 **`Key`** 로 꺼낼수 있는 지정된 자료
> - Key 값이 같은 Value가 2개 이상 있으면 마지막 Value만 Key에 대응되어 저장

In [143]:
# {키1:값1, 키2:값2, 키3:값3, ...}
Teacher = {'Name':'KK', 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', '1':'test'}
Teacher

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 '1': 'test'}

In [144]:
Teacher2 = {'Name':['KK', 'WW'], 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', '1':'test'}
Teacher2

{'Name': ['KK', 'WW'],
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 '1': 'test'}

- 함수의 입력값이 많아질때 별도로 처리해서 한꺼번에 입력
- 2차원 이상의 데이터를 표현

In [145]:
import pandas as pd

pd.DataFrame.from_dict(Teacher, orient='index', columns=['Example'])

             Example
Name              KK
Age              100
Birth           1104
Phone  010-0000-0000
1               test

In [146]:
pd.DataFrame.from_dict(Teacher, orient='index', columns=['Example']).T

        Name  Age Birth          Phone     1
Example   KK  100  1104  010-0000-0000  test

In [147]:
# 동일한 key가 2개 존재할 경우 이전 입력값은 무시됨
Teacher = {'Name':'KK', 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', 1:'test', 1:'test2'}
Teacher

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2'}

In [148]:
# Teacher = {'Name':'KK', 'Age':100, 'Birth':'1104', 'Phone':'010-0000-0000', 1:'test', [1]:'test2'}
# Teacher

In [149]:
# key 값을 추가하면 쉽게 데이터 반영
# dict[키] = 값
Teacher['Hobby'] = None
Teacher

{'Name': 'KK',
 'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2',
 'Hobby': None}

In [150]:
type(Teacher)

dict

In [151]:
Teacher['Name']

'KK'

In [152]:
Teacher[1]

'test2'

In [153]:
# key, value 값만 추출하기
Teacher.keys()

dict_keys(['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby'])

In [154]:
Teacher.values()

dict_values(['KK', 100, '1104', '010-0000-0000', 'test2', None])

In [155]:
Teacher.items()

dict_items([('Name', 'KK'), ('Age', 100), ('Birth', '1104'), ('Phone', '010-0000-0000'), (1, 'test2'), ('Hobby', None)])

In [156]:
Teacher.keys()

dict_keys(['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby'])

In [157]:
list(Teacher.keys())

['Name', 'Age', 'Birth', 'Phone', 1, 'Hobby']

In [158]:
# 영어어순의 in 전치사로 key 존재(포함)여부 확인
'Name' in Teacher

True

In [159]:
'Email' in Teacher

False

In [160]:
# 딕셔너리 자료 삭제
del Teacher['Name']
Teacher

{'Age': 100,
 'Birth': '1104',
 'Phone': '010-0000-0000',
 1: 'test2',
 'Hobby': None}

In [161]:
# 딕셔너리 삭제
Teacher.clear()
Teacher

{}

# **파이썬에서 데이터의 형태 변환**

**1. 파이썬 정수 변환:** int()     
**2. 파이썬 실수 변환:** float()     
**3. 파이썬 불리언 변환:** bool()     
**4. 파이썬 문자열 변환:** str()     
**5. 파이썬 리스트/튜플/집합/딕셔너리 변환:** list()/tuple()/set()/dict()

## 정수로 변환(Int)

> 입력값을 정수형으로 변환
> - int(숫자)
> - int(불리언)
> - int(계산식)
> - int('문자열')

In [162]:
int(10)

10

In [163]:
## 3.141592 정수로 변환
int(3.141592)

3

In [164]:
# True 정수로 변환
int(True)

1

In [165]:
# 5를 2로 나누고 정수로 변환
int(5/2)

2

In [166]:
# 숫자형태의 문자 10을 정수로 변환
int('10')

10

In [167]:
# 문자는 기본적으로 정수 변환 불가
# int('KK')

## 실수로 변환(Float)

> 입력값을 실수형으로 변환
> - float(숫자)
> - float(불리언)
> - float(계산식)
> - float('문자열')

In [168]:
float(5)

5.0

In [169]:
# 3.141592 실수로 변환
float(3.141592)

3.141592

In [170]:
# False 실수로 변환
float(False)

0.0

In [171]:
# True 실수로 변환
float(True)

1.0

In [172]:
# 1 + 2 연산 후 실수로 변환
float(1 + 2)

3.0

In [173]:
# 숫자형태의 문자를 실수로 변환
float('5.3')

5.3

In [174]:
# True 불리언을 복소수로 변환
complex(True)

(1+0j)

## 불리언으로 변환(Bool)

> 입력값을 불리언형으로 변환(숫자의 경우 **`0인지`** 여부, 문자의 경우 **`비어있는지`** 여부)
> - bool(숫자)
> - bool(불리언)
> - bool(계산식)
> - bool('문자열')

In [175]:
bool(54)

True

In [176]:
# 0을 불리언으로 변환
bool(0)

False

In [177]:
# 3.141592 불리언으로 변환
bool(3.141592)

True

In [178]:
# 0.00 불리언으로 변환
bool(0.00)

False

In [179]:
# 1-1 연산결과 불리언으로 변환
bool(1-1)

False

In [180]:
# 1-2 연산결과 불리언으로 변환
bool(1-2)

True

In [181]:
# 2-1 연산결과 불리언으로 변환
bool(2-1)

True

In [182]:
# True 불리언으로 변환
bool(True)

True

In [183]:
# KK 문자 불리언으로 변환
bool('KK')

True

In [184]:
# 빈문자 불리언으로 변환
bool('')

False

In [185]:
# 공백문자 불리언으로 변환
bool(' ')

True

## 문자열로 변환(Str)

> 입력값을 문자열형으로 변환    
>
> 출력값은 문자열형을 의미하는 따옴표가 반드시 동반    
>
> - str(숫자)
> - str(불리언)
> - str(계산식)
> - str('문자열')

In [186]:
# 숫자를 문자열로 변환
str(10)

'10'

In [187]:
# 3.141592 문자열로 변환
str(3.141592)

'3.141592'

In [188]:
# True를 문자열로 변환
str(True)

'True'

In [189]:
# False를 문자열로 변환
str(False)

'False'

In [190]:
# 숫자형태 문자 2를 문자열로 변환
str('2')

'2'

In [191]:
# 문자 KK 문자열로 변환
str('KK')

'KK'

## 리스트/튜플/집합/딕셔너리 변환

In [192]:
# (1,2) 튜플을 리스트로 변환
list((1,2))

[1, 2]

In [193]:
# [1,2] 리스트를 튜플로 변환
tuple([1,2])

(1, 2)

In [194]:
# [1,2,2] 리스트를 집합으로 변환
set([1,2,2])

{1, 2}

In [195]:
# [[1,2],[3,4]] 리스트를 딕셔너리로 변환
dict([[1,2],[3,4]])

{1: 2, 3: 4}

In [196]:
x = {"a":1,"b":2,"c":3}
type(x)

dict

In [197]:
x

{'a': 1, 'b': 2, 'c': 3}

In [198]:
# x 딕셔너리를 리스트로 변환
list(x)

['a', 'b', 'c']

In [199]:
# x 딕셔너리를 튜플기반 리스트로 변환
temp = []
for i in x:
    temp.append((i, x[i]))
    
temp

[('a', 1), ('b', 2), ('c', 3)]

In [200]:
y = [(i,x[i]) for i in x]
type(y)

list

In [201]:
y

[('a', 1), ('b', 2), ('c', 3)]

In [202]:
z = {i:j for i,j in y}
type(z)

dict

In [203]:
z

{'a': 1, 'b': 2, 'c': 3}

# **파이썬이 사용하는 연산의 형태**

- **목적:** 실제 생활에서 사람이 생각(f)하는 사칙연산과 수리적 로직을 파이썬 방식으로 이해
> - **산술연산자(Arithmetic Operator)**
> - **할당연산자(Assignment Operator)**
> - **비교연산자(Comparison Operator)**
> - **논리연산자(Logical Operator)**
> - **식별연산자(Identity Operator)**
> - **멤버연산자(Menbership Operator)**

## 산술연산자(Arithmetic Operator): 수학 연산을 위해 사용

| 산술연산자 |  기능  |
|:----------:|:------:|
|     A + B    | 더하기 |
|     A - B    |  빼기  |
|     A * B    | 곱하기 |
|     A / B    | 나누기 |
|     A % B    | 나머지 |
|    A ** B    |  제곱  |
|    A // B    |   몫   |
|   divmod(A,B)   | (몫, 나머지) |

In [204]:
1 + 1

2

In [205]:
3 - 2

1

In [206]:
2 * 2

4

In [207]:
4 / 2

2.0

In [208]:
5 % 2

1

In [209]:
3 ** 3    # 3 * 3 * 3

27

In [210]:
7 / 2

3.5

In [211]:
7 // 2

3

In [212]:
# 몫과 나머지 함께 구하기
divmod(5,2)    # y1, y2 = f(x1, x2)

(2, 1)

In [213]:
# quotient = divmod(5,2)[0]
# remainder = divmod(5,2)[1]

In [214]:
quotient, remainder = divmod(5, 2)
print(quotient, remainder)

2 1

In [215]:
# 실수 계산부터는 오차가 발생
4.3 - 2.7

1.5999999999999996

In [216]:
# 실수와 정수의 계산은 표현 범위가 넓은 실수로 계산
4.2 + 5

9.2

## 할당연산자(Assignment Operator): 값을 반영하기 위해 사용

| 할당연산자 |                        기능                        |
|:----------:|:--------------------------------------------------:|
|     A = B    |             왼쪽 값에 오른쪽 값을 할당             |
|    A += B    |       왼쪽 값을 오른쪽에 더한 후, 왼쪽에 할당      |
|    A -= B    |        왼쪽 값을 오른쪽에 뺀 후, 왼쪽에 할당       |
|    A *= B    |       왼쪽 값을 오른쪽에 곱한 후, 왼쪽에 할당      |
|    A /= B    |       왼쪽 값을 오른쪽에 나눈 후, 왼쪽에 할당      |
|    A %= B    | 왼쪽 값을 오른쪽에 나눈 후, 나머지값을 왼쪽에 할당 |

In [217]:
x = 5
x

5

In [218]:
x = 5
# x = x + 3
x += 3
x

8

In [219]:
x = 5
# x = x - 3
x -= 3
x

2

In [220]:
x = 5
# x = x * 3
x *= 3
x

15

In [221]:
x = 5
# x = x / 3
x /= 3
x

1.6666666666666667

In [222]:
x = 5
# x = x % 3
x %= 3
x

2

## 비교연산자(Comparison Operator): 두 값을 비교하기 위해 사용

| 비교연산자 |              기능             |
|:----------:|:-----------------------------:|
|    A == B    |              같음             |
|    A != B    |           같지 않음           |
|     A > B    |      왼쪽이 오른쪽보다 큼     |
|     A < B    |      오른쪽이 왼쪽보다 큼     |
|    A >= B    | 왼쪽이 오른쪽보다 크거나 같음 |
|    A <= B    | 오른쪽이 왼쪽보다 크거나 같음 |

In [223]:
5 == 3

False

In [224]:
5 != 3

True

In [225]:
4 > 3

True

In [226]:
3 < 3

False

In [227]:
6 >= 6

True

In [228]:
7 <= 8

True

## 논리연산자(Logical Operator): 여러 조건/상황을 반영하기 위해 사용

| 논리연산자 |             기능             |
|:----------:|:----------------------------:|
|    A and B   |    양쪽이 모두 참이면 True   |
|    A or B    | 양쪽 중 하나라도 참이면 True |
|     not A   |     오른쪽이 False면 True    |

In [229]:
# 2는 5보다 작고 그리고 3은 10보다 작은가?
2 < 5 and 3 < 10

True

In [230]:
# 2는 4보다 작고 또는 7은 5보다 작은가?
2 < 4 or 7 < 5

True

In [231]:
# "3은 4보다 작고 그리고 5는 2보다 작다" 가 아닌것은 무엇인가?
not (3 < 4 and 5 < 2)

True

## 식별연산자(Identity Operator): 동일여부 비교하기 위해 사용

| 식별연산자 |        기능        |
|:----------:|:------------------:|
|    A is B    | 양쪽이 같으면 True |
|  A is not B  | 양쪽이 다르면 True |

In [232]:
x = 'KK'
y = 'KK'
# x 와 y는 같은가?
x is y

True

In [233]:
# x 와 y는 같은가?
x == y

True

In [234]:
x = 'KK'
y = 'Korea'
# x 와 y는 같은가?
x is y

False

In [235]:
x = 'KK'
y = 'Korea'
# x 와 y는 다른가?
x is not y

True

## 멤버연산자(Menbership Operator): 포함여부 확인하기 위해 사용

| 멤버연산자 |                기능                |
|:----------:|:----------------------------------:|
|    A in B    |     값이 오른쪽에 포함되면 True    |
|  A not in B  | 값이 오른쪽에 포함되지 않으면 True |

In [236]:
list_test = ['KK', 'Korea']
# 'KK' 문자열은 list_test에 포함되는가?
'KK' in list_test

True

In [237]:
# 'KKK' 문자열은 list_test에 포함되는가?
'KKK' in list_test

False

In [238]:
# 'KKK' 문자열은 list_test에 포함되지 않는가?
'KKK' not in list_test

True

## 연산의 우선순위(Priority): 여러개 연산시 우선순위부터 계산

> - 괄호가 있으면 먼저 계산하고 나머지는 우선순위대로 계산
> - 우선순위가 같다면 왼쪽 항부터 계산

| 우선순위 | 연산자 | 설명 |
|:---:|:---:|:---:|
| 1 | (값...), [값...], {키: 값...}, {값...} | 튜플, 리스트, 딕셔너리, 세트 생성 |
| 2 | x[인덱스], x[인덱스:인덱스], x(인수...), x.속성 | 리스트(튜플)   첨자, 슬라이싱, 함수 호출, 속성 참조 |
| 3 | await   x | await 표현식 |
| 4 | ** | 거듭제곱 |
| 5 | +x, -x, ~x | 단항 덧셈(양의 부호), 단항 뺄셈(음의 부호), 비트 NOT |
| 6 | *, @, /, //, % | 곱셈, 행렬 곱셈, 나눗셈, 버림 나눗셈, 나머지 |
| 7 | +, - | 덧셈, 뺄셈 |
| 8 | <<, >> | 비트 시프트 |
| 9 | & | 비트 AND |
| 10 | ^ | 비트 XOR |
| 11 | \| | 비트 OR |
| 12 | in, not   in, is, is not,   <, <=, >, >=, !=, == | 포함 연산자, 객체 비교 연산자, 비교 연산자 |
| 13 | not   x | 논리   NOT |
| 14 | and | 논리 AND |
| 15 | or | 논리 OR |
| 16 | if else | 조건부 표현식 |
| 17 | lambda | 람다 표현식 |

- **Question:** 하기 출력을 실행하고 각 계산마다 어떤 순서로 계산하는지 주석(#)으로 서술하시오
```python
print(2 ** 2 ** 3)
print(5 - 2 * 3 ** 4 // (( 5 + 6) % 7 ) / 8 )
print(3 + 4 * 4 > 5 * 7 - 1)
```

In [239]:
print(2 ** 2 ** 3)

256

In [240]:
# 위 결과 출력 순서 작성
# 1) 2 ** 3 = 8 (거듭제공) 
# 2) 2 ** 8 = 256 (거듭제공)

In [241]:
print(5 - 2 * 3 ** 4 // (( 5 + 6) % 7 ) / 8 )

0.0

In [242]:
# 위 결과 출력 순서 작성
# 1) 3 ** 4 (거듭제곱) -> 5 - 2 * 81 // ((5 + 6) % 7 ) / 8
# 2) * 곱셈 -> 5 - 162 // ((5 + 6) % 7 ) / 8
# 3) + (덧셈) -> 5 - 162 // (11 % 7 ) / 8
# 4) % 나머지 -> 5 - 162 // 4 / 8
# 5) // 버림 나눗셈 -> 5 - 40 / 8
# 6) / 나눗셈 -> 5 - 5
# 6) - (뺄셈) -> 0

In [243]:
print(3 + 4 * 4 > 5 * 7 - 1)

False

In [244]:
# 위 결과 출력 순서 작성
# 1) * 곱셈 -> 3 + 16 > 35 -1
# 2) + (덧셈), - (뺄셈) -> 19 > 34
# 3) > 비교 연산자

In [246]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputOutput'    # 고정값
name = '팜티궤느'    # 본인 이름을 작성
studentid = '201902731'    # 본인 학번을 작성
course = 'DEBA Study'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1기'    #  학수번호 끝자리 (아래 예시)
                         # E정보시스템 (0003853001) => 1반
                         # E정보시스템 (0003853001) => 2반
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
8(GB)
Windows
10.0.19044
C:\Users\phamt\DEBAStudy\Tutorial-Python-Programming-main
2022-11-18 05:04:20.360651
2023-01-05 13:53:22.039387
2023-01-05 13:53:22.039387
2023-01-05 13:53:24.900960
다음 출력을 파일명으로 설정하고 제출하시오: 팜티궤느_201902731_DEBA Study_1기_InputOutput