In [3]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputVariable'    # 고정값
name = '팜티궤느'    # 본인 이름을 작성
studentid = '201902731'    # 본인 학번을 작성
course = 'DEBA Study'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1기'    #  학수번호 끝자리 (아래 예시)
                         # E정보시스템 (0003853001) => 1반
                         # E정보시스템 (0003853001) => 2반
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
8(GB)
Windows
10.0.19044
C:\Users\phamt\DEBAStudy\Practice
2023-01-03 16:12:54.412954
2023-01-05 14:13:43.208848
2023-01-05 14:13:43.208848
2023-01-05 14:14:17.340823
다음 출력을 파일명으로 설정하고 제출하시오: 팜티궤느_201902731_DEBA Study_1기_InputVariable

# **파이썬에서 변하는 데이터 형태**

[![Open in Colab](http://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/thekimk/Tutorial-Python-Programming/blob/main/Practice1-3_Basic_InputVariable_KK(Practice).ipynb)

> **"파이썬의 데이터 형에 연산자를 직접 계산/출력 할 수 있지만, 데이터 형을 저장 할수도 있음"**
> - 파이썬이 이해하는 데이터 형태
> - 파이썬에서 데이터의 형태 변환
> - 파이썬이 사용하는 연산의 형태

- **변수(Variable):** 변할수 있는 값으로 임시로 혹은 영구적으로 데이터 형을 기억해두기 위한 저장소
> - 비어있는 변수를 만들고 데이터 형을 담아 할당(저장)
> - 할당된 변수를 사용하여 그 안에 담긴 데이터를 사용할 수 있음
> - 프로그래밍에서 **`같다`** 의미 기호는 **`==`**
> <center><img src='Image/Basic/Variable_Structure.png' width='200'></center>
> - **예시:**
>```python
name = 'KK'
age = 100
location = ['서울시', '용산구']
age = 10
print(age)    # 10
>
> - **생성규칙:** 규칙을 지킨 경우만 변수로 인식
>> - 영문 문자와 숫자, _(밑줄 문자)를 사용할 수 있음
>> - 문자부터 시작해야 하며 숫자부터 시작하면 안됨
>> - 숫자로만 구성된 변수는 사용할 수 없음
>> - 대소문자를 구분하기 때문에 크기가 다르면 다른 변수
>> - 빈칸과 특수 문자(+, -, *, /, $, @, &, % 등) 사용할 수 없음
>> - 다른 프로그래밍 언어와의 차이점
>>> - 변수 생성시 타입(Type)을 미 선언
>>> - 변수 생성 없이 바로 사용 가능
>> **`C언어`*
>> ```c
#include <stdio.h>
int a;
int b;
int c;
a = 20;
b = 100;
c = a*b
printf(c)
>>```
>> **`Python`*
>> ```python
a,b = 20,100
print(a*b)
>```
>
> - **변수생성팁:** 누가 봐도 이해하기 쉬운 센스 있는 변수 선언 추천
> ```python
a = [500, 800, 600, 1200]    # ??
price_flow = [500, 800, 600, 1200]    # 가격흐름
```

In [4]:
# 숫자가 가장 처음에 등장하면 에러가 발생
# 4pple = 10

In [5]:
# 정상적으로 admin이란 변수 생성
admin = 50
admin

50

In [6]:
# 정상적으로 Apple이란 변수 생성
Apple = 60
Apple

60

In [7]:
# 대소문자를 구분하기 때문에 앞에 나온 변수인 Apple과는 별개의 변수
apple = 70
apple

70

In [8]:
# Apple과 apple이 같은지 비교
Apple == apple    # Apple is apple

False

In [9]:
# 세 변수의 값을 모두 출력하면 50 60 70이다.
print(admin, Apple, apple)

50 60 70

In [10]:
# 변수에 어떤 데이터/값의 형태를 반영할지 미리 선언할 필요없이
# 변수에 저장된 값의 형태를 파악해서 자동으로 인지
x = 10
x

10

In [11]:
type(x)

int

In [12]:
y = 'Hello, world!'
y

'Hello, world!'

In [13]:
# 타입확인
type(y)

str

In [14]:
z = {'name': 'KK'}
z

{'name': 'KK'}

In [15]:
# 타입확인
type(z)

dict

## 예약어/외장함수/내장함수 이름 불가

**"파이썬 예약어(if, for, while, and, or 등)/외장함수/내장함수는 변수명 사용불가(비권장)"**
- **예약어(Reserved Words):** 파이썬에서 이미 문법적인 용도로 사용되는 단어들

In [16]:
import keyword    # 예약어 모음을 확인하기 위해 외장함수 호출

print(len(keyword.kwlist))
print()
print(keyword.kwlist)

36

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

- **외장함수:** 자주 사용하는 기능을 정의하고 실행하는 역할을 담은 파일(함수/클래스)
> - 패키지(Package) > 모듈(Module) > 함수(Function)
> - 모듈/함수 이름을 변수로 써도 상관 없지만, 기존에 모듈/함수 사용 불가

In [17]:
# keyword = 10

In [18]:
# keyword.    # tab을 누르면 내장 함수 목록 출력

In [19]:
dir(keyword)   # dir 명령어로 내장 함수 목록 출력

['__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'iskeyword',
 'issoftkeyword',
 'kwlist',
 'softkwlist']

In [20]:
# 예시
import pandas as pd
dir(pd)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__all__',
 '__builtins__',
 '__cached__',
 '__deprecated_num_index_names',
 '__dir__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_is_numpy_dev',
 '_libs',
 '_testing',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']

- **[내장함수(Built-in Function)](https://docs.python.org/ko/3.8/library/functions.html):** 별도의 모듈(Module)/라이브러리 추가 없이 기본적으로 제공되는 함수

> - 수많은 내장 함수 존재하며 일일이 설명은 어렵고, 필요시 지속적으로 언급

In [21]:
# -3의 절대값
abs(-3)

3

In [22]:
# 1과 2 중에서 최대값
max(1,2)

2

In [23]:
# 1과 2 중에서 최소값
min(1,2)

1

In [24]:
# 1과 2 중에서 최소값
min(1,2)

1

In [25]:
# [1,2,3] 중에서 최소값
min([1,2,3])

1

In [26]:
# 2^4
2**4

16

In [27]:
# 2^4
pow(2,4)

16

In [28]:
# 3^3
pow(3,3)

27

In [29]:
# 2^(-1)
pow(2,-1)

0.5

- range([start], stop, [step]) 내장함수로 쉽게 시퀀스(Sequence) 생성 가능
- start와 step은 생략 가능하며 start는 0, step은 1이 고정값

In [30]:
# 0이상 10미만 시퀀스 생성
range(10)

range(0, 10)

In [31]:
# 0이상 10미만 시퀀스 리스트 생성
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
# 3이상 10미만 시퀀스 리스트 생성
list(range(3,10))

[3, 4, 5, 6, 7, 8, 9]

In [33]:
# 0이상 3미만 역 시퀀스 리스트 생성
list(range(0,3,-1))

[]

In [34]:
# 3이상 10미만 2간격 시퀀스 리스트 생성
list(range(3,10,2))

[3, 5, 7, 9]

In [35]:
# 10이상 3미만 역 시퀀스 리스트 생성
list(range(10,3,-1))

[10, 9, 8, 7, 6, 5, 4]

In [36]:
# 0이상 10미만 튜플 생성
tuple(range(10))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [37]:
# 'hello' 문자열 리스트 변환
list('hello')

['h', 'e', 'l', 'l', 'o']

In [38]:
# 'hello' 문자열 튜플 변환
tuple('hello')

('h', 'e', 'l', 'l', 'o')

- **Question:** range 함수를 사용하여 아래와 같은 tuple 값을 출력하시오

```python
(5, 3, 1, -1, -3, -5, -7, -9)
```

In [39]:

tuple(range(5,-11,-2))

(5, 3, 1, -1, -3, -5, -7, -9)

## 변수의 생성과 삭제

- 변수이름1, 변수이름2, 변수이름3 = 값1, 값2, 값3
- 변수의 갯수와 값의 갯수는 동일해야 하며 나열된 순서대로 할당

In [40]:
# x = 10
# y = 20
# z = 30
x, y, z = 10, 20, 30

In [41]:
x

10

In [42]:
y

20

In [43]:
z

30

- 변수1 = 변수2 = 변수3 = 값
- 마지막 값으로 앞의 변수에 모두 할당

In [44]:
x = y = z = 10

In [45]:
x

10

In [46]:
y

10

In [47]:
z

10

In [48]:
a = 1
b = "python"
c = [1,2,3]
print(a, b, c)

1 python [1, 2, 3]

In [49]:
d, e, f = 10, 35.2, 'pineapple'
print(d, e, f)

10 35.2 pineapple

- 변수1, 변수2 = 변수2, 변수1
- 변수1과 변수2의 값 치환

In [50]:
x, y = 10, 20
print(x, y)

10 20

In [51]:
# 값 치환
x, y = y, x

In [52]:
x

20

In [53]:
y

10

In [54]:
# del 명령어로 변수 삭제 가능
# del x
# x

- **(주의)** 변수끼리 할당 시 복사하지 않고 할당하면 동일 변수로 취급

In [55]:
a = [10, 20, 30]
b = a
a[0] = 200
print(a, b) 
# a = [200, 20, 30]
# b = [10, 20, 30]

[200, 20, 30] [200, 20, 30]

In [56]:
# 복사방법1
a = [10, 20, 30]
b = a.copy()    # 복사방법1
a[0] = 200
print(a, b)

[200, 20, 30] [10, 20, 30]

In [57]:
# 복사방법2
a = [10, 20, 30]
b = a[:]    # 복사방법2
a[0] = 200
print(a, b)

[200, 20, 30] [10, 20, 30]

In [58]:
a, b = ('python', 'life')
print(a, b)

python life

In [59]:
(a, b) = 'python', 'life'
print(a, b)

python life

In [60]:
[a,b] = ['python', 'life']
print(a, b)

python life

- **Question:** 다음 중 사용할 수 없는 변수명을 모두 고르고 이유를 설명하시오

(1) class
(2) normal
(3) 1st
(4) _python
(5) 변수
(6) except

In [61]:
# 설명
# 1) class 예약어
# 2) except 예약어
# 3) 1st 숫자로 시작
# 4) 변수 한글

## 빈 변수 생성

- **None:** 파이썬에서 아무것도 없는 빈 상태를 나타내는 자료형

> - **특징:**
>> - 비어있는 문자/리스트/집합/딕셔너리와 다름
>> - False나 0과 다름
>> - 'None'은 문자와 다름

> - **적절한 사용 시점:**
>> - 값을 알수 없거나 존재하지 않는 경우
>> - 값이 "없음" 일 경우
>> - 값이 정의되지 않는 경우
>> - 값을 초기화 해서 사용하는 경우



<!-- https://m.blog.naver.com/PostView.naver?isHttpsRedirect=true&blogId=youndok&logNo=222085870181 -->

In [62]:
# x =

In [63]:
x = None
x

In [64]:
type(x)

NoneType

In [65]:
# None과 False가 같은지 비교
None == False

False

In [66]:
# None과 True가 같은지 비교
None == True

False

## 변수의 연산

In [67]:
a = 10
b = 20
a + b

30

In [68]:
a = 10
a + 20

30

In [69]:
a

10

In [70]:
a = 10
a = a + 20
a

30

In [71]:
-a

-30

## 변수에 값을 입력받아 연산

> - **input():** 사용자가 입력한 값을 가져오는 함수
> - 입력값은 문자열로 간주

In [72]:
# input()

In [73]:
# x = input()

In [74]:
# x

In [75]:
# x = input('입력값을 받습니다: ')

In [76]:
# x

In [77]:
# a = input('첫 번째 숫자를 입력하세요: ')
# b = input('두 번째 숫자를 입력하세요: ')
# a + b

In [78]:
# type(x)

In [79]:
# type(a)

In [80]:
# a = int(input('첫 번째 숫자를 입력하세요: '))
# b = int(input('두 번째 숫자를 입력하세요: ')) 
# a + b

In [81]:
# # a는 정수 100, b는 실수 10.5를 입력받아 합계를 출력
# a = int(input('첫 번째 숫자를 입력하세요: '))
# b = float(input('두 번째 숫자를 입력하세요: ')) 
# a + b

- 변수1, 변수2 = input('문자열').split('기준문자열')
- 여러개의 문자열을 입력받을 시, 분리(split) 구분자(기준문자열)를 지정하여 사용 가능

In [82]:
temp = 'My name is KK'
print(temp.split(' '))
print(''.join(temp))

['My', 'name', 'is', 'KK']
My name is KK

In [83]:
# a, b = input('문자열 2개를 입력하세요: ').split(',')
# print(a, b)

In [84]:
# a, b = input('숫자 두 개를 입력하세요: ').split() # split 값이 없으면 공백을 기준으로 분리
# a + b

In [85]:
# a, b = input('숫자 두 개를 입력하세요: ').split() 
# int(a) + int(b)

In [86]:
# a, b = input('숫자 두 개를 입력하세요: ').split() 
# a = int(a)
# b = int(b)
# a + b

In [87]:
# # map(함수, 값) 내장함수를 사용하여 각각의 값의 함수처리 출력
# # 숫자 입력시 공백을 기준으로 2개를 입력
# # 출력은 2개의 입력값 합
# a, b = map(int, input('숫자 두 개를 입력하세요: ').split())
# a + b

- **Question:** 정수 3개를 입력받아 합계를 출력하시오

In [88]:
# a는 정수 1, b는 정수 2, c는 정수 3을  입력받아 합계를 출력
a = int(input('첫 번째 숫자를 입력하세요: '))
b = int(input('두 번째 숫자를 입력하세요: ')) 
c = int(input('세 번째 숫자를 입력하세요: '))
a + b + c

첫 번째 숫자를 입력하세요: 1
두 번째 숫자를 입력하세요: 2
세 번째 숫자를 입력하세요: 3

6

## 변수의 비교와 논리

- **Question:** 한 과목이라도 50점 미만이면 불합격(False)를 출력하시오

```python
korean = 92
english = 47
mathematics = 86
science = 81
```

In [89]:
korean = 92
english = 47
mathematics = 86
science = 81
korean >= 50 and english >= 50 and mathematics >= 50 and science >= 50

False

## 순서가 있는 시퀀스 데이터 형태

- **시퀀스(Sequence):** 리스트/튜플/문자열 등으로 연속적으로 이어진 순서가 있는 자료형
> - 시퀀스는 어떠한 자료형으로 구성되든 공통된 동작과 기능을 제공
> - 시퀀스의 각 값을 요소(Element)라고 함
> - 순서가 있기 때문에 인덱스/인덱싱/슬라이싱 가능

In [90]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [91]:
# 0이상 100미만 10간격 시퀀스 리스트 생성
a = list(range(0, 100, 10))
a

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

- 시퀀스는 멤버연산자를 사용해서 멤버를 조회 할 수 있음

In [92]:
# 30이 a리스트에 포함되는지 여부
30 in a

True

In [93]:
# 100이 a리스트에 포함되는지 여부
100 in a

False

In [94]:
# 100이 a리스트에 포함되지 않는지 여부
100 not in a

True

In [95]:
# 43이 (38, 76, 43, 62, 19) 튜플에 포함되는지 여부 
43 in (38, 76, 43, 62, 19)

True

- 시퀀스가 길어지고 일일이 만들기 어려우면 **`range()`** 함수로 쉽게 생성 가능

```python
range(start, stop, step)    # start부터 stop-1까지 step간격으로 생성
```

```python
range(5)    # 0,1,2,3,4 (시작 인덱스완 간격이 자동으로 0과 1로 지정)
range(1,5)    # 1,2,3,4 (간격은 자동으로 1로 지정)
range(1,5,2)    # 1,3
```

In [96]:
# 1이 0이상 10미만 시퀀스에 포함되는지 여부
1 in range(10)

True

In [97]:
# 'P'문자가 'Hello, Python'에 포함되는지 여부
'P' in 'Hello, Python'

True

- 시퀀스는 일부 산술연산자를 사용할 수 있으면 오로지 **`Python`** 에서만 가능!

In [98]:
# [0, 10, 20, 30] 리스트와 [0, 10, 20, 30] 리스트 붙이기
a = [0, 10, 20, 30]
b = [0, 10, 20, 30]
a + b

[0, 10, 20, 30, 0, 10, 20, 30]

In [99]:
# 파이썬이 이해하는 형태가 아닌 함수모습으로 연산은 불가
# range(0, 10) + range(10, 20)

In [100]:
# 0이상 10미만 시퀀스 리스트와 10이상 20미만 시퀀스 리스트 붙이기
list(range(0, 10)) + list(range(10, 20))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [101]:
# 0이상 10미만 시퀀스 튜플과 10이상 20미만 시퀀스 튜플 붙이기
tuple(range(0, 10)) + tuple(range(10, 20))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19)

In [102]:
'Hello, ' + 'world!'

'Hello, world!'

In [103]:
# 문자열과 숫자의 연산 불가
# 'Hello, ' + 10

In [104]:
# 형태를 통일하면 연산 가능
'Hello, ' + str(10)

'Hello, 10'

In [105]:
'Hello, ' + str(1.5)

'Hello, 1.5'

In [106]:
# [0, 10, 20, 30] 리스트 3번 반복하기
[0, 10, 20, 30] * 3

[0, 10, 20, 30, 0, 10, 20, 30, 0, 10, 20, 30]

In [107]:
# 0이상 5미만 2간격 시퀀스 리스트 3번 반복하기
list(range(0, 5, 2)) * 3

[0, 2, 4, 0, 2, 4, 0, 2, 4]

In [108]:
# 0이상 5미만 2간격 시퀀스 튜플 3번 반복하기
tuple(range(0, 5, 2)) * 3

(0, 2, 4, 0, 2, 4, 0, 2, 4)

In [109]:
# 문자열 3번 반복하기
'Hello, ' * 3

'Hello, Hello, Hello, '

In [110]:
a = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [111]:
# 값의 갯수 측정
len(a)

10

In [112]:
b = (38, 76, 43, 62, 19)
len(b)

5

In [113]:
# 0이상 10미만 2간격 시퀀스의 갯수
len(range(0, 10, 2))

5

In [114]:
# 문자열은 공백도 포함하여 갯수를 계산
hello = 'Hello, world!'
len(hello)

13

In [115]:
hello = '안녕하세요'
len(hello)

5

- **Question:** 다음 2개의 변수를 사용하여 최근 3년간의 연도 및 GDP를 출력하시오

```python
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
GDP = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
```

In [116]:
year = [2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018]
GDP = [10249679, 10195318, 10143645, 10103233, 10022181, 9930616, 9857426, 9838892]
year[-3:]
GDP[-3:]

[9930616, 9857426, 9838892]

- **Question:** 다음 튜플에서 인덱스가 홀수인 요소들을 출력하시오

```python
n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)
```

In [117]:
n = (-32, 75, 97, -10, 9, 32, 4, -15, 0, 76, 14, 2)
n[1::2]
#n[1:12:2]
#n[1:len(n):2]

(75, -10, 32, -15, 76, 2)

- **Question:** 아래와 같이 3층의 $*$ 문자로 이루어진 별자리를 `star`라는 변수로 만들어 변수에 저장된 별자리를 출력하시오

```python
*
**
***
```

In [118]:
star = '*'
print(star)
print(star*2)
print(star*3)

*
**
***

In [119]:
star = 3
for x in range(1,4):
    for y in range(x):
        print('*', end='')
    print()

*
**
***

In [120]:
a = int(input('* 수량을 입력하세요: '))
for x in range(1,a+1):
    for y in range(x):
        print('*', end='')
    print()

* 수량을 입력하세요: 3
*
**
***

- **Question:** 우리나라는 섭씨 온도표시를 사용하지만, 미국은 화시 온도표시를 사용합니다.    
0도의 섭씨는 화씨로 32도 입니다. 만약 18도의 섭씨는 화씨로 얼마가 될지 출력하시오.    
이때 사용할 변수명 섭씨는 `C` 화씨는 `F`로 하시오.

In [121]:
C = int(input('섭씨 온도를 입력하세요 : '))
F = C + 32
print('섭씨의 ', C, '도는 화씨로 ', F, '도 입니다.')

섭씨 온도를 입력하세요 : 18
섭씨의  18 도는 화씨로  50 도 입니다.

- **Question:** `range` 함수를 사용해 9부터 0(포함)까지의 거꾸로 나열되 있는 리스트를 출력하시오

```python
# 예상출력
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
```

In [122]:
a = list(range(9, -1, -1))
a

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

- **Question:** `range` 함수를 사용하여 0이상 10000 미만인 모든 짝수의 합계를 `sum` 내장함수를 사용하여 `summation` 이란 변수에 저장하고, 갯수를 `count`라는 변수에 저장한 후 평균을 출력하시오

In [123]:
summation = sum(list(range(0, 10000, 2)))
print('짝수의 합계:', summation)
count = len(range(0, 10000, 2))
print('갯수:', count)
print('평균:', summation/count)
# print(list(range(0, 10000, 2)))

짝수의 합계: 24995000
갯수: 5000
평균: 4999.0

In [124]:
n = list(range(0, 10000, 2))
summation = sum(n)
print('짝수의 합계:', summation)
count = len(n)
print('갯수:', count)
print('평균:', summation/count)
# print(list(range(0, 10000, 2)))

짝수의 합계: 24995000
갯수: 5000
평균: 4999.0

In [125]:
a = int(input('숫자를 입력하세요: '))
n = list(range(0, a , 2))
summation = sum(n)
print('짝수의 합계:', summation)
count = len(n)
print('갯수:', count)
print('평균:', summation/count)
# print(list(range(0, 10000, 2)))

숫자를 입력하세요: 10000
짝수의 합계: 24995000
갯수: 5000
평균: 4999.0

In [126]:
# 반드시 이 cell을 실행하시오
# 실행하지 않을 시 직접 하지 않은 것으로 간주
# 마지막 줄 출력으로 파일명을 설정하고 제출 필수
import platform, psutil, os, datetime
print(platform.processor())
print(str(round(psutil.virtual_memory().total / (1024.0 **3)))+"(GB)")
print(platform.system())
print(platform.version())
print(os.getcwd())
print(datetime.datetime.fromtimestamp(os.path.getctime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getmtime(os.getcwd())))
print(datetime.datetime.fromtimestamp(os.path.getatime(os.getcwd())))
print(datetime.datetime.now())
title = 'InputVariable'    # 고정값
name = '팜티궤느'    # 본인 이름을 작성
studentid = '201902731'    # 본인 학번을 작성
course = 'DEBA Study'    # 'E정보시스템', 'E데이터베이스', '빅데이터', 
                          # '비즈니스혁신을위한데이터사이언스응용', '인공지능활용디지털경제플랫폼연구'
course_number = '1기'    #  학수번호 끝자리 (아래 예시)
                         # E정보시스템 (0003853001) => 1반
                         # E정보시스템 (0003853001) => 2반
                         # E데이터베이스 (0003854001) => 1반
                         # E데이터베이스 (0003854002) => 2반
                         # 빅데이터 (0006718001) => 1반
                         # 비즈니스혁신을위한데이터사이언스응용 (1002667001) => 1반
print('다음 출력을 파일명으로 설정하고 제출하시오:', name + '_' + studentid + '_' + course + '_' + course_number + '_' + title)

Intel64 Family 6 Model 142 Stepping 11, GenuineIntel
8(GB)
Windows
10.0.19044
C:\Users\phamt\DEBAStudy\Practice
2023-01-03 16:12:54.412954
2023-01-05 14:13:43.208848
2023-01-05 14:13:43.208848
2023-01-05 14:14:45.410948
다음 출력을 파일명으로 설정하고 제출하시오: 팜티궤느_201902731_DEBA Study_1기_InputVariable